body {
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/EmsiJoseph/lab2/blob/main/week3/images/profile.png?raw=true');
    background-size: 100%;
    backdrop-filter: blur(10px);
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  h1 {
    color: #333;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    color:rgba(30, 30, 30, 0.966);
    font-size: 22px;
    text-align: left;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .glassmorphism {
    backdrop-blur: 10px; /* Add a 10px blur effect */
    background-color: rgba(255, 255, 255, 0.9); /* Add a translucent white background color */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }